{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}
<!--bag page hero image-->
<div class="container shopping-cart mb-4">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/hero-image-3.jpg' %}" class="d-block img-fluid   w-100 shopping-image "
                alt="shopping-image">
            <div class=" shopping-message">
                <div class="shopping-day">
                    <h2> Nice Choice! </h2>
                    <h3> Buy the latest trends in | fashion..</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!---bag heading------->
<section>
    <div Class="container">
        <div class="row">
            <div class="col-12 heading-bag">
                <h2 class="  text-center mb-5 "> Shopping Bag </h2>
            </div>
        </div>
        <hr class = "divider d-block d-md-none">
        <div class="row  table-bottom">
            <div class="col">
                {% if bag_items %}
                <!-- on medium and small screen bag -->
                <div class="d-block d-md-none ">
                    {% for item in bag_items %}
                        <div class="col-12 col-md-6 mt-2 mb-2 text-center image-center">
                           <img class="img-fluid rounded card-img-top" src="{{ item.product.image_a.url }}">
                        </div>
                            <div class=" col-12 col-md-6">
                                <p class="my-0"><small>{{ item.product.name }}</small></p>
                                <!--if product on sale-->
                                {% if item.product.on_sale is True %}
                                   <p class=" mb-0 text-decoration-line-through  "> Price: € {{item.product.price }}</p>
                                   <p class=" mb-0  card-text text-danger font-weight-bold "> Sale Price: € {{item.product.sale_price }}</p>
                                {% else %}
                                   <p class=" mb-0 card-text  font-weight-bold"> Price:€ {{ item.product.price }}</p>
                                {% endif %}
                                <p class="my-0 small text-muted"><small>SKU: {{ item.product.sku|upper }}</small></p>
                                <p class="my-0">
                                    <small>Size:  {% if item.product.size %}
                                    {{ item.size|upper }}
                                    {% else %}
                                    <span>N/A</span>
                                    {% endif %} 
                                </small>
                                </p>
                                </div>
                                <!--update quantity-->
                                <div class=" col-3 mt-2">
                                    <form class="form  update-form" method="POST"
                                    action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group  mb-2 ">
                                        <div class="input-group selector ">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black  border rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id}}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black border  rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-plus  fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.size %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <!--edit and delete product from bag -->
                                <a class="update-link p-2 text-success "><small><i class="fas fa-sync-alt"></i></small></a>
                                <a class="remove-item p-2 text-danger  text-right" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small><i class="fas fa-trash-alt"></i></small></a>
                                </div>
                                <div class=" col-sm-3 ">
                                {% if item.product.on_sale %}
                                        <p class="my-0 mt-2 text-danger "> Sub Total: €{{ item.product.sale_price | calc_subtotal_offer:item.quantity }}</p>
                                    {% else %}
                                    <p class="my-0 mt-2 ">
                                     Sub Total: €{{ item.product.price | calc_subtotal:item.quantity }}
                                    </p>
                                    {% endif %}
                                </div>
                                <!--on small screen border bottom after each product in bag -->
                                {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-md-none mt-3 mb-3">
                                    <hr>
                                </div>
                                {% endif %}
                                {% endfor %}
                              <div>
                                  <!-- bag total-->
                                <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong> €{{ free_delivery_delta }}</strong> more!
                                </p>
                                {% endif %}
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0  btn-sm">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-black secure-check  rounded-0 btn-sm">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                              </div>
                    </div>
                </div>
                <!--medium and small screen table end here-->
                <!--here starts table for large screen -->
                    <div class="table-responsive rounded">
                        <table class="table table-bottom  table-sm table-border d-none d-md-block">
                           <thead class="text-black">
                            <tr>
                                <th class="text-center" scope="col">Product Image</th>
                                <th class="text-center" scope="col">Product Info</th>
                                <th scope="col">size</th>
                                
                                <th class="text-center" scope="col">Qty</th>
                                <th class="text-center" scope="col">Price</th>
                            </tr>
                        </thead>
                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 bag-image w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image_a.url }}">
                                </td>
                                <td class="py-3">
                                   <p class="my-0"><small>{{ item.product.name }}</small></p>
                                   <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                   {% if item.product.on_sale is True %}
                                   <p class=" mb-0 text-decoration-line-through  "> Price: € {{item.product.price }}</p>
                                   <p class=" mb-0  card-text text-danger font-weight-bold "> Sale Price: € {{item.product.sale_price }}</p>
                                {% else %}
                                   <p class=" mb-0 card-text  font-weight-bold"> Price:€ {{ item.product.price }}</p>
                                {% endif %}
                                </td>
                                <td class="py-3">
                                    {% if item.product.size %}
                                    {{ item.size|upper }}
                                    {% else %}
                                      <p>N/A</p>
                                    {% endif %}
                                </td>
                                 <!--update quantity-->
                                <td class="py-3 ">
                                   <form class="form update-form" method="POST"
                                       action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-2  ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black  border rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id}}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black border  rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-plus  fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.size %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <!--edit and delete product from bag -->
                                <a class="update-link p-2 text-success "><small><i class="fas fa-sync-alt"></i></small></a>
                                <a class="remove-item p-2 text-danger  text-right" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small><i class="fas fa-trash-alt"></i></small></a>
                                </td>
                                <td class="py-3 text-center">
                                    {% if item.product.on_sale is True %}
                                        <p class="my-0 text-danger"> €{{ item.product.sale_price | calc_subtotal_offer:item.quantity }}</p>
                                    {% else %}
                                    <p class="my-0">
                                        <strong> €{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td class="border-0" scope="col"></td>
                                <td colspan="5" class="pt-5 text-end border-0 ">
                                   <h6><strong> Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                   <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                   <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                   <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong> €{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="border-0" scope="col"></td>
                            <td colspan="5" class="text-end border-0">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-black rounded-0 btn-sm">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 ">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>   
</section>
{% endblock %}
{% block page_footer %}
<!-- Footer-->
<footer>
    <div class="footer-style d-none ">
        <div class="footer-heading   p-4">
            <h5> David & Yenny <span class="magic-font p-1 magic-font-1">Collection since 2018</span> </h5>
        </div>
        <div class="social-link-1">
            <span class="social link"><a href="http://www.facebook.com" target="_blank" rel="noopener">
                    <i class="fab fa-facebook"></i> </a></span>
            <span class="social link"><a href="http://www.twitter.com" target="_blank" rel="noopener">
                    <i class="fab fa-twitter"></i> </a></span>
            <span class="social link"><a href="http://www.youtube.com" target="_blank" rel="noopener"> <i
                        class="fab fa-youtube"></i></a></span>
            <span class="social link"><a href="https://www.instagram.com" target="_blank" rel="noopener">
                    <i class="fab fa-instagram"></i></i></a></span>
        </div>
        <div>
            <p class="mt-1 copy-right">Copyright © David & Yenny Collection 2021</p>
        </div>
    </div>
</footer>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'bag/includes/quantity_input_script.html' %}

<script>

    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    
    
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};


        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
    
</script>
{% endblock %}