{% extends "base.html" %}
{% load static %}



{% block content %}


<div class="container shopping-cart mb-4">
    <div class="row">
        <div class="col-12">

            <img src="{% static 'images/hero-image-3.jpg' %}" class="d-block img-fluid   w-100 shopping-image "
                alt="shopping-image">

            <div class=" shopping-message">
                <div class="shopping-day">
                    <h2> Nice Choice! </h2>
                    <h3> Buy the latest trends in | fashion..</h3>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}