{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

<div class="container shopping-cart mb-4">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/hero-image-3.jpg' %}" class="d-block img-fluid   w-100 shopping-image "
                alt="shopping-image">
            <div class=" shopping-message">
                <div class="shopping-day">
                    <h2> Nice Choice! </h2>
                    <h3> Buy the latest trends in | fashion..</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!---bag section------->
<section>
    <div Class="container">
        <div class="row">
            <div class="col-12 heading-bag">
                <h2 class="  text-center mb-5 "> Shopping Bag </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive  rounded">
                        <table class="table table-sm table-border">
                           <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">size</th>
                                <th scope="col">Price</th>
                                <th class="text-center" scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 bag-image w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image_a.url }}">
                                </td>
                                <td class="py-3">
                                   <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                   <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    {% if item.product.size %}
                                    {{ item.size|upper }}
                                    {% else %}
                                      <p>N/A</p>
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"> €{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 ">
                                   <form class="form update-form" method="POST"
                                       action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-2  ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black  border rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id}}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black border  rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{item.item_id }}">
                                                    <span class="icon-1">
                                                        <i class="fas fa-plus  fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.size %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link p-2 text-success "><small><i class="fas fa-sync-alt"></i></small></a>
                                <a class="remove-item p-2 text-danger  text-right" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small><i class="fas fa-trash-alt"></i></small></a>
                                </td>
                                <td class="py-3">
                                    {% if item.product.on_sale is True %}
                                        <p class="my-0 text-danger"> €{{ item.product.sale_price | calc_subtotal:item.quantity }}</p>
                                    {% else %}
                                    <p class="my-0">
                                        <strong> €{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td class="border-0" scope="col"></td>
                                <td colspan="5" class="pt-5 text-end border-0 ">
                                   <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                   <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                   <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                   <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong> €{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="border-0" scope="col"></td>
                            <td colspan="5" class="text-end border-0">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-black rounded-0 btn-sm">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'bag/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    
    
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};


        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
    
</script>
{% endblock %}