<div class="main-nav ">
    <ul class="main-nav-1 ">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 Category-color" href="">
                All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="mens-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="mens-link">
                <li><a href="" class="dropdown-item">T-Shirts</a></li>
                <li><a href="" class="dropdown-item">Jeans</a></li>
                <li><a href="" class="dropdown-item">Shirts</a></li>
                <li><a href="" class="dropdown-item">Blazers</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="womens-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="womens-link">
                <li><a href="" class="dropdown-item">Dresses</a></li>
                <li><a href="" class="dropdown-item">Jeans</a></li>
                <li><a href="" class="dropdown-item">Blouses</a></li>
                <li><a href="" class="dropdown-item">Skirts</a></li>
            </ul>
        </li>
        <!--bag section--->
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="bags-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bag
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="bags-link">
                <li><a href="" class="dropdown-item">Envelope Bags</a></li>
                <li><a href="" class="dropdown-item">Handbags</a></li>
                <li><a href="" class="dropdown-item">Shopping Bags</a></li>
                <li><a href="" class="dropdown-item">Backpacks</a></li>
                <li><a href="" class="dropdown-item">Briefcases</a></li>
            </ul>
        </li>
        <!--bag section end-->
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black sale-product" href="#">
                Sale</a>
        </li>
    </ul>
</div>