{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <hr>
    <h2 class="logo-font header-container-3 mb-4">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
{% block page_footer %}
<!-- Footer-->
<footer>
    <div class="footer-style footer-style-bag">
        <div class="footer-heading   p-4">
            <h5> David & Yenny <span class="magic-font p-1 magic-font-1">Collection since 2018</span> </h5>
        </div>
        <div class="social-link-1">
            <span class="social link"><a href="http://www.facebook.com" target="_blank" rel="noopener">
                    <i class="fab fa-facebook"></i> </a></span>
            <span class="social link"><a href="http://www.twitter.com" target="_blank" rel="noopener">
                    <i class="fab fa-twitter"></i> </a></span>
            <span class="social link"><a href="http://www.youtube.com" target="_blank" rel="noopener"> <i
                        class="fab fa-youtube"></i></a></span>
            <span class="social link"><a href="https://www.instagram.com" target="_blank" rel="noopener">
                    <i class="fab fa-instagram"></i></i></a></span>
        </div>
        <div>
            <p class="mt-1 copy-right">Copyright © David & Yenny Collection 2021</p>
        </div>
    </div>
</footer>
{% endblock %}
