{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="product-page mb-5 text-center">
    <div class="container ">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!--to add new products -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font style-header mb-4">Product Management</h2>
            <hr>
            <h4 class=" style-header  text-muted ">Add a Product</h4>
        </div>
    </div>
    <!-- crispy form to add products -->
    <div class="row">
        <div class="col-12 col-md-6 product-add-form mt-4">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right mt-3">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black btn-outline-black rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $(this).parent().next().text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}