{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Product detail section-->
<section>
    <div class="container product-detail">
        <div class="row justify-content-center ">
            <div class="col-12 col-md-6 " style="width: 30rem; ">
                <div class="card h-100  border-0 ">
                    <!-- Product image carousel-->
                    <div id="carouselIndicators" class="carousel carousel-dark slide " data-bs-ride="carousel"
                        data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner   ">
                            <div class="carousel-item  active">
                                {% if product.image_a %}
                                    <a href="{{ product.image_a.url }}" target="_blank">
                                    <img src="{{ product.image_a.url }}" class="d-block w-100  "
                                    alt="{{ product.name }}">
                                   </a>
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_b %}
                                   <a href="{{ product.image_b.url }}" target="_blank">
                                    <img src="{{ product.image_b.url }}" class="d-block w-100"
                                    alt="{{ product.name }} Image_b">
                                    </a>
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }">
                                {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if product.image_c %}
                                <a href="{{ product.image_c.url }}" target="_blank">
                                <img src="{{ product.image_c.url }}" class="d-block w-100"
                                alt="{{ product.name }} Image_c">
                                </a>
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                            {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_d %}
                                   <a href="{{ product.image_d.url }}" target="_blank">
                                    <img src="{{ product.image_d.url }}" class="d-block w-100"
                                     alt="{{ product.name }} Image_d">
                                   </a>
                                {% else %}
                                     <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6   product-detail-1  ">
                <div class="small mb-1">Product ID: {{ product.sku }}
                </div>
                <div class="h1 display-5 fw-bolder">
                    {{ product.name }}
                </div>
                <div>
                    {% if product.average_rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.average_rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                <div>
                    <!-- Price -->
                    <small class="text-muted">Price:</small>
                    <span class="fs-5">€ {{ product.price }}</span>
                </div>
                {% if product.category %}
                <!-- Category -->
                    <p class="small mt-1 mb-5">
                    <span id="text-category"><strong>Category:</strong></span>
                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                        {{ product.category.friendly_name }}
                    </a>
                    </p>
                {% endif %}
                    <p class="h6 product-despt ">{{ product.description }}</p>
                <!--submit form-->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.size as s %}
                        {% if s %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control size-option required rounded-0 " name="product_size"
                                id='id_product_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group quantity-option">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black border rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black border rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase"> Continue Shopping</span>
                            </a>
                            <button type="submit"
                                class="btn btn-black btn-outline-black rounded-0 text-uppercase mt-3"><i
                                    class="fas fa-shopping-cart"></i> Add to Bag</button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--related product section-->
<hr class ="divider">
<section>
    <div class="container">
        <div class="col text-center  mt-4 mb-5">
            <h1 class="logo-font product-heading"> Related Products</h1>
        </div>
        <div class="row ">
            {% if product.gender == "m" %}
            {% for product in related_products_men %}
            <div class=" col-lg-3 col-6 border-0  ">
                <div class=" card main-cards-1 card-body  border-0 mb-5  card-size" style="width: 18rem;" >
                    {% if product.image_a %}
                       <a href="{% url 'product_detail' product.id %}">
                       <img src="{{ product.image_a.url }}" class=" main-cards  card-img-top " alt="text">
                      </a>
                    {% else %}
                       <a href="{% url 'product_detail' product.id %}">
                       <img src="{{ MEDIA_URL }}noimage.png" class=" main-cards card-img-top " alt="text">
                      </a> 
                    {% endif %}
                    <p class="mb-0 mt-1 card-title  small text-right ">{{ product.name }}</p>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            {% for product in related_products_women %}
            <div class=" col-6 col-lg-3">
                <div class=" card main-cards-1 border-0 card-body mb-5 card-size" style="width: 18rem;"  >
                    {% if product.image_a %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image_a.url }}" class=" main-cards card-img-top " alt="text">
                        </a>
                    {% else %}
                       <a href="{% url 'product_detail' product.id %}">
                       <img src="{{ MEDIA_URL }}noimage.png" class=" main-cards card-img-top " alt="text">
                      </a> 
                    {% endif %}
                    <p class="mb-0 mt-1 card-title small text-right">{{ product.name }}</p>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section> 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}


{% endblock %}