{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="product-page mb-5 text-center">
    <div class="container ">
        <div class="row">
            <div class="col-12">
        </div>
    </div>
</header>
{% endblock %}
<!--sale product heading-->
{% block content %}
<section>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center  mt-3 mb-2 ">
            <h1 class="logo-font product-heading"> Sale Products</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-1 mb-3 ">
        <div class=" col-sm-6 col-12 product-display  p-3 breadcrumb order-md-first"
            style="--bs-breadcrumb-divider: '|';">
            <a href="{% url 'home' %}"
                class="breadcrumb-item  text-success  text-uppercase text-decoration-none">Home</a>
            <a href="{% url 'products' %}" class="breadcrumb-item text-success  text-uppercase text-decoration-none">All
                Products</a>
            {% if current_categories %}
            {% for c in current_categories %}
            <p class="breadcrumb-item active text-dark fw-bold text-uppercase">{{ c.friendly_name }}
                ({{ products|length}})</p>
            {% endfor %}
            {% else %}
            <p class="breadcrumb-item active text-dark fw-bold text-uppercase">{{ products|length }}
                products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>
                {% endif %}</p>
            {% endif %}
        </div>
        <!--sorting bar-->
        <div
            class="col-12 col-md-6 p-3 product-display-1 order-md-last d-flex justify-content-center justify-content-sm-end">
            <div class="sort-select-wrapper  ">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                </select>
            </div>
        </div>
    </div>
    <!--sale products cards -->
    <div class="row products-card">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                {% if product.on_sale is True %}
                    <!-- Sale badge-->
                    <div class="badge bg-danger border-0 text-white position-absolute" style="top: 0.5rem; left: 0.5rem">Sale
                    </div>
                    <div class=" text-left  position-absolute" style=" top: 0.3rem ;  right: 0.8rem" > 
                        <p class="text-success discount text-decoration-none ">-{{ product.discount_percent }}%</p>
                    </div>
                {% endif %}
                <!--product images-->
                {% if product.image_a %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image_a.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body text-left pb-0">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="small mt-2  mb-2">
                        <a class="text-muted  " href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag text-success mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                        {% if request.user.is_superuser %}
                            <small class="ml-3 p-2 ">
                             <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </p>
                </div>
                <!--card footer-->
                <div class="card-footer bg-light mb-5 pt-0 mt-2 text-center border-0 ">
                    <div class="row">
                        <div class="col">
                            {% if product.on_sale is True %}
                               <span class=" mb-0 text-decoration-line-through  ">€ {{ product.price }}</span>
                                <span class=" mb-0  card-text text-danger font-weight-bold ">€ {{ product.sale_price }}</span></p>
                            {% else %}
                            <span class=" mb-0 card-text  font-weight-bold">€ {{ product.price }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100"> 
        <i class="fas fa-arrow-up  mx-auto my-auto"></i>
    </a>
</div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
<script>
    //Capture the change event from the sort-selector
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        //If the value is not reset to the default on the products page
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
        //Replace the current location with the updated currentURL 
            window.location.replace(currentUrl);
        } else {
            //Delete the sort & direction params
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

</script>


{% endblock %}